pyTelegramBotAPI>=4.38.0  
python-telegram-bot>=22.8   
Pillow>=11.3.0  
Python-ARQ==6.0.7   
aiohttp>=3.12.15   
hijri-converter==2.3.2.post1  
httpx>=0.28.1   
meval==2.5  
mutagen>=1.47.0  
pydub>=0.25.1  
Pyrogram==2.0.106  
TgCrypto>=1.2.5  
pytio==0.4.1  
pytube>=15.0.0   
shazamio>=0.8.1  
youtube-search==2.1.2  
yt-dlp>=2026.7.20    
py-cpuinfo>=9.0.0  
psutil>=7.1.0  
pytz>=2026.1  
gTTS>=2.5.4
